{{ define "main-content" }}

<a href="/{{ .Section }}"><h1 id="section-title">{{ with .Site.GetPage .Section }}{{ .Title }}{{ end }}</h1></a>   

<div id="article-title">
<h1> {{ .Title }} </h1>
<div id="article-container"> 
<h2 id="article-subtitle">{{ .PublishDate.Format "Jan 02, 2006" }}</h2>
<div class="tag-container">
    {{ range .Params.tags }} 
    <div class="ind-tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{- . -}}</a></div>
    {{end}}
</div>
{{ .Content }} 
</div>
</div>

{{ end }}