{{ define "main-content" }}

<a href="/{{ .Section }}"><h1 id="section-title">{{ with .Site.GetPage .Section }}{{ .Title }}{{ end }}</h1></a>   

<div id="article-title">
    <h1>{{ .Title }}{{ with .Param "Subtitle" }}:{{ end }}</h1>
    {{ with .Param "Subtitle" }}<h2>{{ . }}</h2>{{ end }}
</div>

<div id="article-container"> 
<h2 id="article-date">{{ .PublishDate.Format "Jan 02, 2006" }}</h2>
<div class="tag-container">
    {{ range .Params.tags }} 
    <div class="ind-tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{- . -}}</a></div>
    {{end}}
</div>
{{ .Content }} 
</div>


{{ end }}