{{ define "main-content" }}

  <a href="/{{ .Section }}"><h1 id="section-title">{{ with .Site.GetPage .Section }}{{ .Title }}{{ end }}</h1></a>

  <article id="article-container"> 

    <h1>{{ .Title }}{{ with .Param "Subtitle" }}:{{ end }}</h1>
    {{ with .Param "Subtitle" }}<div class="subtitle">{{ . }}</div>{{ end }}


    <h2 id="article-date">{{ .PublishDate.Format "Jan 02, 2006" }}</h2>
    <div class="tag-container">
      {{ range .Params.tags }} 
        <div class="ind-tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{- . -}}</a></div>
      {{end}}
    </div>

    {{ .Content }} 

  </article>


{{ end }}