//==================================//
//                                  //
//        THEME PARAMETERS          //
//                                  //
//==================================//

$link-color: blue;
$hover-link-color: #469646;
$main-bg-color: white;
$behind-bg-color: #d8f3f5;
$title-color: red;
$navlink-color: white;
$navlink-txt-color: black;
$navlink-selected-color: #469646;
$navlink-selected-txt-color: white;
$hover-navlink-color: #a6b7a6;
$main-container-padding: 30px;
$code-block-color: #eee;
$accent-color: brown;
$accent-text-color: white;
$border-rad: 10px;
$list-height: 200px;
$main-container-size: 900px;

$heading-fonts: Verdana, serif;
$paragraph-fonts: Helvetica, sans-serif;

$tablet-width: 768px;
$desktop-width: 950px;

//==================================//
//                                  //
//      MEDIA-SIZE DEFINITIONS      //
//                                  //
//==================================//


@mixin desktop {
	@media only screen and (min-width: #{$desktop-width}) {
		@content
	}
}

@mixin tablet {
	  @media only screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		    @content
	  }
}

//==================================//
//                                  //
//        BASIC CANVAS SETUP        //
//                                  //
//==================================//

body {
    background-color: $behind-bg-color;
    background-image: url("graph-paper.svg");
}

p {
    font-family: $paragraph-fonts; 
}

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-fonts;
}

a {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $hover-link-color;
      font-style: italic;
      text-decoration: underline;
    }
}

#main-container {
    background-color: $main-bg-color;
    padding-left: #{$main-container-padding};
    padding-right: #{$main-container-padding};
    padding-bottom: #{$main-container-padding};
    padding-top: 0px;
    border-style: solid;
    border-width: 15px 10px 10px 10px;
    border-color: $navlink-selected-color;
    border-radius: $border-rad;
    position: relative;
    z-index: 2;
    overflow: auto;

    img { max-width: 100%; }

    @include desktop {
        width: $main-container-size;
        margin-left: auto;
        margin-right: auto;

        img {
            float: right;
        }

         img.il {
            float: none;
            display: block;
            margin: auto;
        }
    }
    @include tablet {
        width: #{$tablet-width - 2 * $main-container-padding};
        margin-left: auto;
        margin-right: auto;
    }
}

#website-name {
    color: $title-color;
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    font-family: Helvetica;

    &:hover {font-style: normal}
}

#social-follow {
    float: right;

    svg {
        fill: $title-color;
    }
}

//==================================//
//                                  //
//          NAV MENU TABS           //
//                                  //
//==================================//


nav {
    padding-bottom: 2px;
    position: relative;
    z-index: 1;

    @include desktop {
        width: $main-container-size;
        margin-left: auto;
        margin-right: auto;
        height: 25px;
    }
    @include tablet {
        width: #{$tablet-width - 2 * $main-container-padding};
        margin-left: auto;
        margin-right: auto;
    }

	a {
        font-weight: normal;
	    background-color: $navlink-color;
        color: $navlink-txt-color;
	    text-align: center;
	    margin-top: 2px;
	    padding-top: 2px;
	    padding-bottom: 5px;
        border-width: 2px;
	    display: inline-block;
        height: 17px;
        border-style: solid;
        width: 220px;
        border-color: rgb(153, 155, 151);
        font-family: $paragraph-fonts;

	    &:hover {
		    background-color: $hover-navlink-color;
	    }

      @include desktop {
          width: 180px;
          border-style: outset groove solid groove;
          border-width: 5px 5px 0px 5px;
      }
      @include tablet {
      }

	}
}

#you-are-here {
    background-color: $navlink-selected-color;
    color: $navlink-selected-txt-color;
    border-color: $navlink-selected-color;
    font-weight: bold;
    @include desktop { border-bottom-width: 0px; }
}

//==================================//
//                                  //
//       ARTICLE-LEVEL STYLE        //
//                                  //
//==================================//


h1 {
    font-size: 28px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}

code {
    font-family: "Courier New", monospace;
    background-color: $code-block-color;
    padding: 0px 5px;
    border: 1px solid;
}

#section-title{
    background-color: $navlink-selected-color;
    color: $navlink-selected-txt-color;
    margin-left: -#{$main-container-padding};
    margin-right: -#{$main-container-padding};
    margin-top: 0px;
    padding-left: #{$main-container-padding/2};
    font-size: 35px;
}

#article-title{


    h1 {

        font-size: 30px;     
    }
    
}

#article-container {
    background-color: white;
}

#page-subtitle {
    font-size: 15px;
}

//==================================//
//                                  //
//        DEALING WITH TAGS         //
//                                  //
//==================================//

//the tag container is on an individual page
//tag containers in article lists are contained within <h3>'s
.tag-container {
    padding: 5px;
    font-size: 12px;
    .ind-tag:hover {
        border-color: $hover-link-color;
    }
}

.master-tag-list {
    font-size: 18px;
    text-align: center;
    margin: auto;

    @include desktop {
        width: 50%;
    }

    @include tablet {
        width: 50%;
    }

    .ind-tag {
        margin: 5px;
    }
}

.ind-tag {
    background-color: $behind-bg-color;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: $link-color;
    border-radius: $border-rad;
    display: inline-block;
    color: $link-color;
}

//==================================//
//                                  //
//         LIST OF ARTICLES         //
//                                  //
//==================================//

.list-container {

    text-align: center;

    a {
        color: black;
        text-decoration: none;
        font-weight: normal;
        font-style: normal;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        width: 85%;
        height: #{$list-height};
        margin: 5px;
        padding: 10px;
        overflow: hidden;
        text-align: left;
        background-image: linear-gradient(to bottom, transparent, $behind-bg-color);
        border-style: solid;
        border-radius: 10px;
        position: relative;
        white-space: normal;

        @include tablet {
            width: 300px;
        }
        @include desktop {
            width: 400px;
        }


        &:hover {
            background-color: $hover-navlink-color;
            height: auto;
            min-height: #{$list-height};
            ;
        }

        h1 {
            font-size: 20px;
            font-weight: bold;
            padding: 5px;
            margin: 0px;
            overflow: hidden;
            background-color: $accent-color;
            color: $accent-text-color;
            margin: -10px -10px 0px -10px;
            max-height: 95px;

            @include desktop { 
                text-overflow: ellipsis;
                overflow-x: hidden;
                white-space: nowrap;
            }
            @include tablet { 
                text-overflow: ellipsis;
                overflow-x: hidden;
                white-space: nowrap;
            }    

            &:hover {
              font-style: italic;
              text-decoration: underline;
              white-space: normal;
              max-height: 100%;
            }
        }

        h2 {
            font-size: 10px;
        }

        h3 {
            font-size: 9px;
        }
    }

    a.title-only {
        width: 80%;
        max-height: 12px;

        &:hover {
            min-height: 12px;
            max-height: #{$list-height};
            height: auto;
        }
    }
}

// this places a section-title inside of the <a> for
// an individual article
div.mini-section-title {
    background-color: $navlink-selected-color;
    color: $navlink-selected-txt-color;
    font-style: italic;
    position: absolute;
    text-align: center;
    bottom: -10px;
    right: 0px;
    border-radius: 5px;
    padding: 0px 15px;
    margin: -10px -10px 10px -10px;
    width: 100%;

    @include desktop { 
        width: auto;
        text-align: right;
    }
    @include tablet { 
        width: auto;
        text-align: right;
    }
}



//==================================//
//                                  //
//    ADJUSTMENTS FOR SITE INDEX    //
//                                  //
//==================================//


.index-special {
    background: $behind-bg-color;
    padding: 10px;

    @include desktop {
        white-space: nowrap;
        overflow: scroll;
        padding: 30px;
    }
    @include tablet {
        white-space: nowrap;
        overflow: scroll;
        padding: 30px;
    }

    a {
        max-height: #{$list-height};
    }

    .spacer {
        width: 20px;
        display: inline-block;
    }
}

div.fade-block{
    display: none;
    height: #{$list-height+95px};
    width: 100px;
    position: absolute;
    z-index: 10;
    top: #{$main-container-padding+95px};

    @include desktop { display: block; }
    @include tablet { display: block; }
}

.right {
    background-image: linear-gradient(to right, transparent 60%, $behind-bg-color 90%);
    right: #{$main-container-padding};
}

.left {
    background-image: linear-gradient(to left, transparent 60%, $behind-bg-color 90%);
    left: #{$main-container-padding};
}