{{ $showMiniSection := true }}

<script type="text/javascript">
<!--
  function toggleLink (id, enOrDis) {
    element = document.getElementById(id);
        
    if (enOrDis == "enable") {
      element.classList.remove("scroll-disable");
    } else if (enOrDis == "disable") {
      element.className = "scroll-disable";
    }

    element = null;
  }

  function updateHighlight() {
    var maxScroll = scroll_window.scrollWidth - scroll_window.clientWidth;

    if (scroll_window.scrollLeft < 5) {
      toggleLink ("nav-left", "disable")
    } else {
      toggleLink ("nav-left", "enable")
    }

    if (scroll_window.scrollLeft >= maxScroll - 5) {
      toggleLink ("nav-right", "disable")
    } else {
      toggleLink ("nav-right", "enable")
    }
  }

  function moveDirection(dir) {
    var stepSize = 0.6 * scroll_window.clientWidth;
    var maxScroll = scroll_window.scrollWidth - scroll_window.clientWidth;

    if(dir == 'right' && scroll_window.scrollLeft < maxScroll) {
      scroll_window.scrollLeft += stepSize;     
    } else if (dir == 'left' && scroll_window.scrollLeft > 0) {
      scroll_window.scrollLeft -= stepSize;   
    }
  }
//-->
</script>

{{- $n_posts := $.Param "recent_posts_number" | default 5 -}}

<div class="list-container index-special" id="scroll_window" onscroll="updateHighlight()" onload="updateHighlight()">
  <div class="spacer"></div>
  {{/* Range through the first $n_posts items of the section */}}
  {{/* Thanks to Ananke theme for helping me figure out how to do this*/}}    
  {{ range (first $n_posts .Site.RegularPages) }}
    {{ partial "article-ind-link.html" (dict "showMiniSection" $showMiniSection "thisPage" . "siteInfo" .Site ) }}
  {{ end }}
    
  <div class="spacer"></div>
  <div class="fade-block right"><p id="nav-right" onclick="moveDirection('right')">&gt;</p></div>
  <div class="fade-block left"><p id="nav-left" class="scroll-disable" onclick="moveDirection('left')">&lt;</p></div>
</div>