<script type="text/javascript">
  <!--
    function toggleDisable (id, condition) {
    // id is the name of an element id
    // condition is the condition in which link should be disabled

    element = document.getElementById(id);
        
    if (condition) {
      element.className = "scroll-disable";
    } else {
      element.classList.remove("scroll-disable");
    } 

    element = null;
  }

  function updateHighlight() {
    scrollTarget = document.getElementById("scroll_window")
    var maxScroll = scrollTarget.scrollWidth - scrollTarget.clientWidth;

    toggleDisable("nav-left", scrollTarget.scrollLeft < 5);
    toggleDisable("nav-right", scrollTarget.scrollLeft >= maxScroll - 5)

  }

  function moveDirection(dir) {

    scrollTarget = document.getElementById("scroll_window")
    var stepSize = 0.6 * scrollTarget.clientWidth;
    var maxScroll = scrollTarget.scrollWidth - scrollTarget.clientWidth;

    if(dir == 'right' && scrollTarget.scrollLeft < maxScroll) {
      scrollTarget.scrollLeft += stepSize;     
    } else if (dir == 'left' && scrollTarget.scrollLeft > 0) {
      scrollTarget.scrollLeft -= stepSize;   
    }

  }

  function loadNext() {
    alert('load');
    return false;
  }
  //-->
</script>

{{ $showMiniSection := true }}
{{ $paginator := .Paginate .Site.RegularPages  }}

{{ if eq $paginator.PageNumber 1 }}
<h1>Recent Posts</h1>
{{ else }}
<h1>Posts</h1>
{{ end }}


<div class="list-container index-special" id="scroll_window" onscroll="updateHighlight()" onload="updateHighlight()">
  <div class="spacer"></div>  

  {{ if $paginator.HasPrev }}
  <div id="prev-page"><a href="{{ $paginator.Prev.URL }}">&#8810; Newer Posts</a></div>
  {{ end }}

  {{ range $paginator.Pages }}
    {{ partial "article-ind-link.html" (dict "showMiniSection" $showMiniSection "thisPage" . "siteInfo" .Site ) }}
  {{ end }}

  {{ if $paginator.HasNext }}
  <div id="next-page"><a href="{{ $paginator.Next.URL }}" onclick="return false" onmouseup="loadNext()">Older Posts &#8811;</a></div>
  {{ end }}
    
  <div class="spacer"></div>
  <div class="fade-block right"><p id="nav-right" onclick="moveDirection('right')">&gt;</p></div>
  <div class="fade-block left"><p id="nav-left" class="scroll-disable" onclick="moveDirection('left')">&lt;</p></div>
</div>
