{{/* USAGE: {{ partial "article-ind-link.html" (dict "showMiniSection" [true|false] "thisPage" . "siteInfo" .Site ) }} */}}
<article class="ind-article-list">
    <h1><a href="{{ .thisPage.Permalink }}">{{ .thisPage.Title }}</a></h1>
    <!--{{ with .thisPage.Param "Subtitle" }}<div class="ind-article-heading-sub">{{ . }}</div>{{ end }}-->
    <div class="date-small">{{ .thisPage.PublishDate.Format "Jan 02, 2006" }}</div>
    <div class="tag-container-small">{{ range .thisPage.Params.tags }} <div class="ind-tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{- . -}}</a></div> {{end}}</div>
    <p>{{ .thisPage.Summary | safeHTML }}</p>
    <a class="ind-article-read-more" href="{{ .thisPage.Permalink }}">(Read more...)</a>
    {{ $sectionTitle := .thisPage.Section }}
    {{ $sectionURL := "" }}
    {{ with .siteInfo.GetPage $sectionTitle }}
        {{ $sectionTitle = .Title }}
        {{ $sectionURL = .Permalink }}
    {{ end }}
    {{ if .showMiniSection }}
        <a href="{{ $sectionURL }}" class="mini-section-title">
            {{ $sectionTitle }}
        </a>
    {{ end }}
</article>